body {
	background-color: #E6EBF5;
	font-family: century;
}
.header {
	color: darkgreen;
	text-align: center;
	border-bottom: solid 5px darkgreen;
}
.footer a:hover {
	color:orange;
}

.footer {
	text-align: center;
	border-top: 5px solid darkgreen;
	color: darkgreen;
}

.content {
	color: darkgreen;
	text-align: center;
	width: 60%;
	margin:0 20%;
}

.content p{
	text-align: left;
}

