
body {
	background-color: #75A3A3;
}
.container {
	width: 1500px;
	margin: auto;
}
.header {
margin: auto;
width: 100%;
height: 10%;
color: #003399;
border-top: 5px solid darkgrey;
}
.content {
	float: left;
	width: 45%;
	height: 850px;
	padding: 10px;
	margin: 0 300px;
	background-color: lightgrey;
	color: darkgreen;
} 
.sidebar {
	float: right;
	width: 10%;
	height: 870px;
	padding: 5px;
	margin: auto;
	background-color: #75A3A3;
	text-align: center;
	color: #003399;
}
.sidebar a:hover{color:darkorange;}
.content a:hover{color:darkorange;}
}
.footer a:hover{color:darkorange;}
}
.footer {
	color: black;
	width: 100%;
	margin: auto;
	text-align: center;
}
