body {
	background-color: lightblue;
	color: darkblue;
	font-family: 'Lora', serif;
}

.content {
	width: 100%;
	max-width: 1400px
	margin: auto;
}

.content header {
	text-align: center;

}
.content img {
	float: center;
}

.footer {
	text-align: center;
}
#reflection {
	font-style: italic;
}

@font-face {
  font-family: 'Lora', serif;
  src: url('http://fonts.googleapis.com/css?family=Lora');
}